---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { type CollectionPosts } from '@/types'
import { getPosts } from '@/utils/posts'

export async function getStaticPaths() {
  const posts = await getPosts()
  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: {
        post,
      },
    }
  })
}

type Props = { post: CollectionPosts }

const { post } = Astro.props
const { title, image, description, date, duration, tag } = post.data

const { Content } = await post.render()

function getDate(date: string) {
  return new Date(date).toISOString()
}

const base = 'https://vinh.dev'
const threadUrl = `https://www.threads.net/intent/post?text=${encodeURIComponent(`Reading @vinh.dev's ${base}/${post.slug}\n\nI think...`)}`
const tweetUrl = `https://twitter.com/intent/tweet?text=${encodeURIComponent(`Reading @vinhtphm's ${base}/${post.slug}\n\nI think...`)}`
---

<BaseLayout title={title} description={description} pageType="article">
  <div class="prose mb-8 m-auto">
    <h1 class="mb-0">{title}</h1>
    <p op-50 class="!-mt-6">
      {date && <time datetime={getDate(date)}>{date.split(',')}</time>}
      {duration && <span>· {duration}</span>}
      {tag && <span>· {tag}</span>}
    </p>
    {
      image && (
        <p>
          <img width="640" height="360" src={image.src} alt={image.alt || ''} />
        </p>
      )
    }
  </div>
  <article>
    <div class="prose m-auto">
      <Content />
    </div>
  </article>
  <div class="prose fw-inherit m-auto mt-8 mb-8 print:hidden">
    {
      duration && (
        <>
          <span class="font-mono op75">&gt;</span>
          <span class="op75">comment on </span>
          <a href={threadUrl} target="_blank" class="op75">
            threads
          </a>
          <span class="op40"> / </span>
          <a href={tweetUrl} target="_blank" class="op75">
            twitter
          </a>
        </>
      )
    }
    <br />
    <span class="font-mono op75">&gt;</span>
    <a
      href={post.slug.split('/').slice(0, -1).join('/') || '/'}
      class="font-mono op80 hover:op85"
    >
      cd ..
    </a>
  </div>
</BaseLayout>
