---
import Container from '@/components/Container.astro'
import HeroSocialLink from '@/components/HeroSocialLink.astro'
import {
  GitHubIcon,
  LinkedInIcon,
  TwitterIcon,
  InstagramIcon,
} from '@/components/Icons'
import Photos from '@/components/Photos.astro'
import Article from '@/components/Article.astro'
import Resume from '@/components/Resume.astro'
import Layout from '@/layouts/Base.astro'
import { getCollection } from 'astro:content'
import Newsletter from '@components/Newsletter'

const articles = (await getCollection('articles'))
  .sort((a, z) => z.data.date.getTime() - a.data.date.getTime())
  .slice(0, 4)
---

<Layout>
  <Container className="mt-9">
    <div class="max-w-2xl">
      <h1
        class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
      >
        Software developer, explorer, and amateur designer.
      </h1>
      <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
        I’m Vinh, a software developer based in Ho Chi Minh City.
      </p>
      <div class="mt-6 flex gap-6">
        <HeroSocialLink
          href="https://twitter.com/vinhphh"
          aria-label="Follow on Twitter"
          icon={TwitterIcon}
        />
        <HeroSocialLink
          href="https://instagram.com/vinh.phm"
          aria-label="Follow on Instagram"
          icon={InstagramIcon}
        />
        <HeroSocialLink
          href="https://github.com/vinhphm"
          aria-label="Follow on GitHub"
          icon={GitHubIcon}
        />
        <HeroSocialLink
          href="https://linkedin.com/in/vinhphm"
          aria-label="Follow on LinkedIn"
          icon={LinkedInIcon}
        />
      </div>
    </div>
  </Container>
  <Photos />
  <Container className="mt-24 md:mt-28">
    <div
      class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
    >
      <div class="flex flex-col gap-16">
        {articles.map(article => <Article article={article} />)}
      </div>
      <div class="space-y-10 lg:pl-16 xl:pl-24">
        <Newsletter client:only="preact" />
        <Resume />
      </div>
    </div>
  </Container>
</Layout>
