---
import { getLinkTarget } from '@/utils/link'
import siteConfig from '@/site-config'
import GlitchingLogo from './GlitchingLogo.vue'
import Search from './search/Search.svelte'
import ThemeToggle from './ThemeToggle.vue'

const navLinks = siteConfig.header.navLinks || []

const socialLinks = structuredClone(siteConfig.socialLinks).filter((link: Record<string, any>) => {
  if (link.header && typeof link.header === 'boolean') {
    return link
  }
  else if (link.header && typeof link.header === 'string') {
    link.icon = link.header.includes('i-') ? link.header : link.icon
    return link
  }
  else {
    return false
  }
})
---

<header class="header relative z-40">
  <a class="absolute m-7 select-none outline-none lg:fixed" href="/" aria-label="Logo">
    <GlitchingLogo client:idle class="h-8 w-8" />
  </a>
  <nav class="nav">
    <div class="spacer" />
    <div class="right tracking-tighter print:op0 items-center">
      {navLinks.map((link) => (
        <a
          aria-label={link.text}
          target={getLinkTarget(link.href)}
          nav-link
          href={link.href}
        >
          {link.text}
        </a>
      ))}
      {socialLinks.map((link) => (
        <a
          aria-label={link.text}
          class={`${link.icon} lt-md:hidden`}
          nav-link
          target={getLinkTarget(link.href)}
          href={link.href}
        />
      ))}
      <a target="_blank" href="/rss.xml" class="lt-md:hidden i-ri-rss-line nav-link" aria-label="RSS" />
      <Search  client:visible />
      <ThemeToggle client:load />
    </div>
  </nav>
</header>

<style>
.header h1 {
  margin-bottom: 0;
}

.logo {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.nav {
  padding: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  box-sizing: border-box;
}

.nav > * {
  margin: auto;
}

.nav img {
  margin-bottom: 0;
}

.nav .right {
  display: grid;
  grid-gap: 1.2rem;
  grid-auto-flow: column;
}

.nav .right > * {
  margin: auto;
}
</style>
