---
import Container from "@/components/Container.astro"
import { ArrowLeftIcon } from "@/components/Icons"
import Prose from "@/components/Prose.astro"
import Layout from "@/layouts/Spotlight.astro"
import { formatDate } from "@/lib/formatDate"
import { getArticles } from "@/lib/getArticles"
import type { CollectionEntry } from "astro:content"
import * as timeago from "timeago.js"

interface Props {
  article: CollectionEntry<"articles">
}

const { props } = Astro
const { article } = props
const articles = await getArticles()

const index = articles.findIndex(({ id }) => id === article.id)
---

<Layout title={article.data.title} description={article.data.summary}>
  <Container className="mt-16 lg:mt-32">
    <div class="xl:relative">
      <div class="mx-auto max-w-2xl">
        <button
          type="button"
          onclick="window.history.back()"
          aria-label="Go back to blog"
          class="group mb-8 flex h-10 w-10 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-zinc-700 dark:hover:ring-white/20 lg:absolute lg:-left-5 lg:mb-0 lg:-mt-2 xl:-top-1.5 xl:left-0 xl:mt-0"
        >
          <ArrowLeftIcon
            className="h-4 w-4 stroke-zinc-500 transition group-hover:stroke-zinc-700 dark:stroke-zinc-500 dark:group-hover:stroke-zinc-400"
          />
        </button>

        <article>
          <header class="flex flex-col">
            <h1
              class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
            >
              {article.data.title}
            </h1>
            <time
              datetime={formatDate(article.data.date)}
              class="order-first flex items-center text-base text-zinc-400 dark:text-zinc-500"
            >
              <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
              ></span>
              <span class="ml-3"
                >{formatDate(article.data.date)} ({
                  timeago.format(article.data.date)
                })</span
              >
            </time>
          </header>
          <Prose className="mt-8">
            <slot />
          </Prose>
        </article>
      </div>
    </div>
  </Container>
</Layout>
